body{background-color:antiquewhite;}
.antraste{ color:darkred;  text-align:center; font-size:60px;}

.pav{height:80%; width:33%;}
table{
	width:100%;
}
.receptas{vertical-align:middle;
		text-align:center; }
#vardas{color:darkred;
font-size :20px;}